body {background-image: url("https://i.pinimg.com/originals/d5/a9/0c/d5a90cb2930c129c1c3802968736d8c3.jpg");
      background-color: #66ccff;
}


ul {
  color: teal; font-family: uppercase;
}


p {
  font-family: cursive;
}

h1 {
  color: maroon;

title {
  color: teal;
}

